#category-title
{
  text-align: center;
  font-size: 3.5rem;
  text-decoration: underline;
}

.category
{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.category-item
{
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.category-title
{
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
}

.category-image
{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transition-duration: 0.2s;
}

.category-image:hover
{
    height: 175px;
    width: 175px;
}

.last-image
{
    margin-right: 0px;
}

@media only screen and (max-width: 768px) 
{
    .category
    {
        display: block;
        text-align: center;
        width: 100%;
    }
    .category-item
{
    margin: 0 auto;
}
}