
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: monospace;
    background: #485563;
    color: white;
    height: 100%;
    scroll-behavior: smooth;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .main {
    margin-top: 90px;
    display: block;
    width: 100%;
    justify-content: center;
  }
  
  .header {
    border-bottom: 2px solid #e2e8f0;
    position: fixed;
    overflow: hidden;
    margin-bottom: 100px;
  }
  
  .footer 
  {
    background-color: #242b33;;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  
  .navbar {
    background-color: #242b33;
    width: 100%;
    top: 0;
    display: flex;
    position: fixed;
    overflow: hidden;
    justify-content: left;
    align-items: center;
    padding: 1rem 1.5rem;
  }
  
  .logo {
      height: 80px;
      width: 80px;
    border-radius: 50%;
  }
  
  #line {
    position: fixed;
    width: 100%;
    margin-top: -7px !important;
    height: 3px;
    background-color: white;
  }
  
  #linefooter 
  {
      /* bottom: 100px; */
      width: 100%;
      height: 3px;
      background-color: white;
  }
  
  .title {
    display: none;
  }
  
  .hamburger {
    display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }
  
  .first {
    margin-top: 8px;
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    margin-left: 5rem;
  }
  
  .nav-link {
    font-size: 2.7rem;
    font-weight: 400;
    color: white;
  }
  
  .nav-link:hover {
    text-decoration: underline;
    color: cyan;
  }
  
  .nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
  }
  
  .container {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  
    transform: translateX(-50%) translateY(-50%);
  }
  
  .button {
    border: 2px solid #fff;
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
  }
  
  .button span {
    color: #fff;
    text-align: center;
    width: 100%;
    display: flex;
    font-size: 20px;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
  }
  
  .button:hover {
    background: white;
  }
  
  .button:hover span {
    color: #121212;
  }
  
  .tophalfdiv {
    width: 100%;
    display: block;
    /* jus: center; */
    /* text-align: center; */
  }
  
  .scroll {
    display: none;
    justify-content: space-between;
  }
  
  @media only screen and (max-width: 768px) {
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 10rem;
      flex-direction: column;
      background-color: #222222;
      width: 100%;
      /* border-radius: 10px; */
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
  
    .nav-link {
      font-size: 2.5rem;
    }
    .navbar {
      justify-content: space-between;
    }
  
    .title {
      display: flex;
      font-weight: 800;
      font-size: 2.5rem;
    }
  
    .nav-menu.active {
      left: 0;
    }
  
    .nav-item {
      margin: 2.5rem 0;
    }
  
    .hamburger {
      display: block;
      height: 40px;
      width: 40px;
      background-color: red;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(9px) rotate(45deg);
      transform: translateY(9px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-9px) rotate(-45deg);
      transform: translateY(-9px) rotate(-45deg);
    }
  
    .main {
      display: block;
      width: 100% !important;
      margin-right: 0px !important;
    }
  
    .tophalfdiv {
      width: 100 !important;
      margin-right: 0px !important;
    }
  
  }
  